@font-face {
    font-family: open_sanscondensed_light;
    src: url(../fonts/OpenSans-CondLight-webfont.ttf);
    font-weight: 400;
    font-style: normal;
}
body {
    font-family: open_sanscondensed_light;
}
header {
    background-color: #666;
    color: #fff;
    padding: 10px;
    font-size: 30px;
}
header i {
    font-size: 22px;
}
.about, .about:hover {
    display: inline-block;
    float: right;
    padding: 5px 15px;
    margin-top: -5px;
    color: #aaa;
}
header .logo {
    margin-top: -10px;
    margin-right: 10px;
}
.maincontent {
    margin: 20px;
}
.billing-block {
    margin: 50px 160px 50px 0;
}
#total {
    color: #000;
}
#ngInputs input[type=radio] {
    display: none;
}
#ngInputs .btn {
    text-transform: capitalize;
    font-weight: 700;
}
.split-blk {
    margin: 0 0 20px;
    width: 135px;
    float: right;
    line-height: 45px;
    position: absolute;
    top: 113px;
    right: 20px;
}
.split-input {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 24px;
}
.split-label {
    margin: 20px 5px;
    line-height: 45px;
    font-size: 20px;
}
.total-amt {
    margin: 15px 0 0;
    text-align: right;
    color: #777;
    font-size: 50px;
}
.error-msg {
    font-size: 26px;
    color: #c00;
    display: block;
    padding: 10px;
}
.bordered-dash {
    margin-top: 20px;
    border-top: 1px dashed #bbb;
    border-bottom: 1px dashed #bbb;
    text-align: center;
}
.btn-default:focus, .btn-default:hover {
    outline: 0;
    background-color: #fff;
}
.tip {
    margin-top: 50px;
    font-size: 24px;
}
#amtInput {
    border-radius: 3px;
}
.label-type {
    font-size: 15px;
    font-family: Helvetica;
}
#ngInputs {
    margin-right: 200px;
}
.lbl {
    font-size: 16px;
    color: #555;
}
.lbl.large {
    font-size: 24px;
}
.tip-each {
    font-size: 14px;
}
.help-label {
    position: absolute;
    background-color: #ccc;
    padding: 1px 6px;
    margin-top: -30px;
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    margin-left: -20px;
}
.clearfix {
    clear: both;
}
.right {
    right: 0;
}
.payable {
    text-align: center;
    border-top: 1px dashed #bbb;
    border-bottom: 1px dashed #bbb;
}
.modal {
    overflow: hidden!important;
}

.round-up {
	margin-top: 20px;
}
.uneven-splitblk {
	margin:20px 0px;
}
.divide-input {
	margin-bottom: 10px;
}