<!DOCTYPE html>
<html lang="en" ng-app>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Tipzy | An Awesome Tip Calculator</title>
</head>

<body ng-controller="cTip">
    <header>
        <img class="logo" src="img/logo.png" width="35px" alt="tipzy">That Tip Thingy..
        <a data-toggle="modal" data-target="#aboutMoal" class="about" href="#">
            <i class="
glyphicon glyphicon-info-sign"></i>
        </a>
    </header>
    <section class="maincontent">
        <div class="help-label">
            The bill amount..
        </div>
        <div class="help-label right">
            Split it between..
        </div>
        <div class="billing-block">
            <input maxlength="10" id="amtInput" autofocus placeholder="Your bill is" class="form-control clearfix input-lg" type="number" ng-model="amt" ng-change="calulateTip()" />
        </div>
        <div class="split-blk">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-lg btn-default" ng-click="decreaseSplit()" type="button">-</button>
                </span>
                <div class="split-input">{{splitIn}}</div>
                <span class="input-group-btn">
                    <button class="btn btn-lg btn-default" ng-click="increaseSplit()" type="button">+</button>
                </span>
            </div>
        </div>

        <form name="myForm">
            <div class="help-label">
                The service was..
            </div>
            <div id="ngInputs" class="btn-group btn-group-justified">
                <label ng-repeat="type in howTipsy" class="btn btn-info btn-lg {{type.state}}">
                    <input type="radio" ng-click="setActive($index)" ng-change="calulateTip()" ng-model="$parent.tipVal" ng-value="{{type.value}}">{{type.name}}
                    <br>
                    <div ng-show="total" class="tip-each">{{amt*type.value | currency}}</div>
                </label>
            </div>
        </form>

        <div class="row clearfix" ng-class="displayborder"><span ng-show="total">{{total | currency}}</span>{{showMessage}}</div>

        <!-- <div class="row clearfix" ng-class="displayborder">
            <span class="total-amt" ng-show="total" ng-hide="showMessage" >{{total | currency}}</span>
            <span class="error-msg" ng-show="showMessage" ng-hide="total" >{{showMessage}}</span>
        </div> -->

        <!--div class="row clearfix">
            <div ng-show="total" class="payable">
                <span class="total-amt">
                    {{total | currency}}
                </span>

            </div>
            <div  ng-hide="total" class="error-msg">{{showMessage}}</div>
        </div-->

    </section>

    <div id="aboutMoal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">About</h4>
                </div>
                <div class="modal-body">
                    <div class="developers">
                        <h4>Design &amp; Development:</h4>
                        <div>
                            <a href="http://about.me/devanandb">Devanand</a>(@awesomified)</div>
                        <div>
                            <a href="http://about.me/udayms">Uday</a>(@udayms)</div>

                        <h4>Special Thanks:</h4>
                        <div>
                            <a href="http://about.me/sameer.bhiwani">Sameer Bhiwani</a>
                        </div>
                        <div>Aakanksha Saini</div>

                        <h4>Credits:</h4>
                        <div>Google Web Fonts - Open Sans Condensed</div>
                        <div>
                            <a href="http://thenounproject.com/oneafternine/">Christopher Smith</a>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/controllers.js"></script>
    <script type="text/javascript" src="cordova-2.4.0.js"></script>
</body>

</html>
